* {
  box-sizing: border-box;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 3.5rem);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
}

.previous-operand {
  color: white;
}

.span-two {
  grid-column: span 2;
}
